<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>{% block title %} {% endblock %}</title>
    {% block head %} {% endblock %}
</head>
<body>
    <nav class="navbar-dark">
        <i class="navbar-icon material-icons" style="font-size:36px;">school</i>
        <div class="navbar-navigation">
            <div class="navigation-block">
                <i class="material-icons icon">home</i>
                <a class="navbar-link" href="{{ url_for('index')}}">Home</a>
            </div>
            <span class="navigation-block">
                <i class="icon material-icons">layers</i>
                <a class="navbar-link" href="{{ url_for('card')}}">Cards</a>
            </span>
            <span class="navigation-block">
                <i class="icon material-icons">library_add</i>
                <a class="navbar-link" href="{{ url_for('add_card')}}">Add Cards</a>
            </span>
        </div>
    </nav>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
</body>
</html>