{% extends 'base.html' %}

{% block title %} Flashcards {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flashcard-style.css') }}">
{% endblock %}

{% block content %}
    <div class="content">   
        <div class="card">
            <div class="card-header">   
                {{ header_text }}
            </div>
            <div class="divider"></div>
            <div class="card-content">   
                <div class="flashcard">
                    <div class="flashcard-position">
                      <div class="flashcard-front">
                        <h1> {{ flashcard_title }} </h1>
                      </div>
                      <div class="flashcard-back">
                        <p> {{ flashcard_text }} </p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="card-actions">
                <!-- <label for="favorite-button-id" class="favorite-button" onclick="make_favorite()">
                    <input type="checkbox" id="favorite-button-id"/>
                    <i class="material-icons icon filled-icon">favorite</i>
                    <i class="material-icons icon empty-icon">favorite_border</i>
                </label> -->
                <a href="{{ url_for('card_deck', deck=deck, id=next_id) }}">
                    <div class="next">
                        <i class="material-icons next-icon">navigate_next</i>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}