{% extends 'card.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flashcard-style.css') }}">
{% endblock %}

{% block card_content %}
    <div class="flashcard">
        <div class="flashcard-position">
          <div class="flashcard-front">
          </div>
          <div class="flashcard-back">
            <h1>John Doe</h1>
            <p>Architect & Engineer</p>
            <p>We love that guy</p>
          </div>
        </div>
    </div>
{% endblock %}