{% extends 'base.html' %}

{% block title %} Flashcards {% endblock %}

{% block content %}
    <h1>Flashcards</h1>
    <p>Flashcards project.</p>
    <br>
    <h3>Modify card decks using UI:<h3>
    <p>You can add cards using the UI in "Add Cards" (you can also add new decks - just specify a new deck name when adding a card an the deck will be added).</p>
    <h3>Modify card decks using terminal control:</h3>
    <p>Using the terminal_control python program you can add cards to your decks, create new decks (just specify a new deck name when adding a card an the deck will be added), delete and clear decks.</p>
    <p>You can also display all the decks and the cards in them.</p>
    <h4>Run:</h4>
    <p>python terminal_control.py</p>
{% endblock %}